
* {
    margin: 0;
    padding: 0;
}


/*  background-size: cover; background-repeat: no-repeat; height: 100vh;">
*/
.bg-image {
    background-image: url(../img/bgSobreNos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

/* style=" color:#7B00C7; position: relative; top: 40vh; left: 30vh; font-size: 9rem;" */
.config {
    font-family: KoHo;
    font-size: 9rem;
    color: #7B00C7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-text-sobre-nos {
    font-size: 3.5rem;
    color: #fff;
    position: relative;
}

.text-sobre-nos {
    font-size: 2rem;
    color: #fff;
    position: relative;
    text-align: justify;
}