
* {
    padding: 0;
    margin: 0;
}

/* style="color: #fff; font-family: KoHo; font-size: 4rem; margin-right: 4rem;"*/
.title-text {
    color: #fff;
    font-family: KoHo;
    font-size: 4rem;
    margin-right: 4rem;
    font-weight: bold;
}

.bg-bar {
    background: linear-gradient(176.35deg, #7B00C7 -36.99%, #4900BF 164.96%);
}

.color-white {
    color: #fff;
}

.sobre-nos-text {
    text-decoration: none;
    font-size: 1.5rem;
}

/* filter: brightness(50%); */
.bg-body {
    background-image: url(../img/city1_brh.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
}

.top-form {
    position: relative;
    top: 20vh;
}

.form-bg-color {
    background-color: #F1F1F1;
    margin-top: 5vh;
    height: 30rem;
    border-radius: 20px;
    position: relative;
}

.line-bg-color {
    background-color: #B8B8B8;
}

.link-color {
    text-decoration: none;
}

.btn-criar-conta {
    width: 100%;
    font-family: KoHo;
    background: linear-gradient(176.35deg, #7B00C7 -36.99%, #4900BF 164.96%);
    color: #fff;
    height: 3.5rem;
}

.input-type {
    margin-top: 2rem;
}

.btn-menu {
    margin-left: 2rem;
    border: 0;
}

.margin-top {
    margin-top: 13vh;
}

.class-1 {
    height: 10vh;
    width: 100%;
    background-color: #000;
}

.form-config {
    border-radius: 10px;
}