
* {
    padding: 0;
    margin: 0;
}

/* style="color: #fff; font-family: KoHo; font-size: 4rem; margin-right: 4rem;"*/
.title-text {
    color: #fff;
    font-family: KoHo;
    font-size: 4rem;
    margin-right: 4rem;
}

.bg-color-top {
    background: linear-gradient(176.35deg, #7B00C7 -36.99%, #4900BF 164.96%);
}

.bg-color-bottom {
    background: linear-gradient(176.35deg, #7B00C7 -36.99%, #4900BF 164.96%);
    color: #fff;
}

.sobre-nos-text {
    text-decoration: none;
    font-size: 1.5rem;
}

.bg-body {
    background-image: url(../img/city1.jpg);
    filter: brightness(50%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
