
* {
    padding: 0;
    margin: 0;
}

.bgColorTop {
    background: linear-gradient(176.35deg, #7B00C7 -36.99%, #4900BF 164.96%);
    height: 6rem;
}

.bgColorBottom {
    background: linear-gradient(176.35deg, #7B00C7 -36.99%, #4900BF 164.96%);
    color: #fff;
}

.sobreNosText {
    text-decoration: none;
    font-size: 1.5rem;
}

.bgBody {
    background-image: url(../img/city1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.maskColor {
    background-color: rgba(0, 0, 0, 0.6);
}